body{
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    margin: 0;
}

.to-do-list-container{
    background: wheat;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

input{
    width: 70%;
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px 12px;
    border: none;
    background: #74ebd5;
    cursor: pointer;
    border-radius: 5px;
}


button:hover {
  background: #ACB6E5;
}

li {
  list-style: none;
  padding: 8px;
  margin: 5px 5px;
  background: #ffbfbf;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}